
@{
    Layout = null;
}

<link href="~/Semantic-UI-1.12.2/dist/semantic.min.css" rel="stylesheet" />
<link href="~/Semantic-UI-1.12.2/dist/semantic.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>



<div class="ui blue inverted menu" style="height:80px;">
    <a class="active item" style="height: 100%; line-height: inherit; background: url();background-size:cover; background-image: url('../../Common/1.png'); width: 450px;">

    </a>
    <a class="item" style="margin-left:100px;height:100%;width:6%;line-height:60px">
        <i class="mail icon"></i> Messages
    </a>
    <a class="item" style="margin-left:20px;height:100%;width:6%;line-height:60px">
        <i class="mail icon"></i> Messages
    </a>
    <a class="item" style="margin-left:20px;height:100%;width:6%;line-height:60px">
        <i class="mail icon"></i> Messages
    </a>
    <a class="item" style="margin-left:20px;height:100%;width:6%;line-height:60px">
        <i class="mail icon"></i> Messages
    </a>
    <a class="item" style="margin-left:20px;height:100%;width:6%;line-height:60px">
        <i class="mail icon"></i> Messages
    </a>
    <a class="item" style="margin-left:20px;height:100%;width:6%;line-height:60px">
        <i class="mail icon"></i> Messages
    </a>
    <div class="right menu">
        <a class="item" style="height:100%;line-height:60px;">Sign Up</a>
        <a class="item" style="height:100%;margin-right:100px;line-height:60px;">Help</a>
    </div>
</div>


<div class="ui menu">
    <div class="header item">
        Our Company
    </div>
    <a class="item">
        About Us
    </a>
    <a class="item">
        Jobs
    </a>
    <a class="item">
        Locations
    </a>
    <div class="right menu">
        <div class="header item">
            Support
        </div>
        <a class="item">
            FAQ
        </a>
        <a class="item">
            E-mail Support
        </a>
    </div>
</div>

<div class="ui padded grid">
    <div class="two column row">
        <div class="white column">
            <h2 class="ui header">Features</h2>
            <p>First section of content</p>
        </div>
        <div class="teal column">
            <h2 class="ui inverted header">Statistics</h2>
            <p>First section of content</p>
        </div>
    </div>
    <div class="blue row">
        <div class="column">
            <div><img src="~/Common/1.png" /></div>
        </div>
    </div>
    <div class="eight wide teal column">
        <h2 class="ui inverted header">Sitemap</h2>
        <p>Second section of content</p>
    </div>
    <div class="eight wide white column">
        <h2 class="ui header">Contact Us</h2>
        <p>Second section of content</p>
    </div>
</div>

<div class="ui inverted teal vertical segment" style="width:100%;">
    <div class="ui page grid">
        <div class="column">
            <h2 class="ui inverted header">Full Width Background</h2>
            <p>First section of content</p>
        </div>
    </div>
</div>

<div class="ui grid" style="border:solid;color:red;margin-top:0px;width:90%; margin-left:5%;height:100px;">

</div>