
@{
    ViewBag.Title = "Index";
}
<link href="~/Semantic-UI-1.12.2/dist/semantic.min.css" rel="stylesheet" />
<link href="~/Semantic-UI-1.12.2/dist/semantic.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<div class="ui grid" style="border:solid;color:red;margin-top:0px; width:100%;">
    <div class="two wide column" style="border:solid;color:red;"></div>
    <div class="six wide column" style="border:solid;color:red;"></div>
    <div class="six wide column" style="border:solid;color:red;"></div>
    <div class="two wide column" style="border:solid;color:red;"></div>
</div>